 <% console.log(isUser) %>
<h1>Gym page</h1>
<p><%- allGym%></p>


<form action="/gym" method="POST">
  <div class="form-group">
    <label for="name">name</label>
    <input id="name" class="form-control" type="name" name="name">
  </div>

  <div class="form-group">
    <label for="description">description</label>
    <input id="description" class="description" type="name" name="description">
  </div>

  <div class="form-group">
    <label for="capcity">capcity</label>
    <input id="capcity" class="capcity" type="Number" name="capcity">
  </div>

  <input class="btn btn-primary" type="submit">
</form>
