<% include ./partial/nav_login %>
<div class ="register">
<h1>Homepage</h1>
<p>Welcome to Gym Count
  <ul>
    <li><a href="/register/">Register </a></li>
    <li><a href="/gym">All Gym</a></li>
    <li><a href="/gym/user">Your Gym Profile</a></li>
  </ul>
</div>
