<% include ./partial/nav_homepage %>
<% include ./partial/header_flash %>

<div class ="register">
<h1>Homepage</h1>
<p>Welcome to Gym Count</p>
  <ul>
    <li><a href="/register/">Register </a></li>
    <li><a href="/gym">All Gym</a></li>
  </ul>
</div>
