<h1>Homepage</h1>
<p>Welcome to Gym Count
<nav>
  <ul>
    <li><a href="/register">Register</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/gym">gym</a></li>

  </ul>
</nav>
