
<h1>Gym page</h1>


<% allGym.forEach(function(detail){ %>
  <ul>
  <strong><%= detail.name %></strong>
  <li><%= detail.description %></li>
  <li><%= detail.capcity %></li>



  </ul>
<br>

<% }) %>
